In [1]:
import pandas as pd

# Create a sample DataFrame with missing values
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [24, 23, 22, 35, None],
    'Salary': [50000, 60000, None, None, 70000]
}

df = pd.DataFrame(data)
print('DataFrame:\n', df)
print('\n')

# Calculate missing values per column
print('Missing values per column:\n', df.isnull().sum())
print('\n')
print('Missing values percentage per column:\n', df.isnull().mean() * 100)

DataFrame:
       Name   Age   Salary
0    Alice  24.0  50000.0
1      Bob  23.0  60000.0
2  Charlie  22.0      NaN
3    David  35.0      NaN
4      Eva   NaN  70000.0


Missing values per column:
 Name      0
Age       1
Salary    2
dtype: int64


Missing values percentage per column:
 Name       0.0
Age       20.0
Salary    40.0
dtype: float64

### Handeling Missing Values

In [2]:
# Drop rows with any missing values
new_df = df.dropna()
print('\nDataFrame after dropping rows with missing values:\n', new_df)

DataFrame after dropping rows with missing values:
     Name   Age   Salary
0  Alice  24.0  50000.0
1    Bob  23.0  60000.0

In [3]:
# Fill missing values with the mean of the column
df.fillna(df['Age'].mean(), inplace=True)
df.fillna(df['Salary'].mean(), inplace=True)
print('\nDataFrame after filling missing values:\n', df)

DataFrame after filling missing values:
       Name   Age   Salary
0    Alice  24.0  50000.0
1      Bob  23.0  60000.0
2  Charlie  22.0     26.0
3    David  35.0     26.0
4      Eva  26.0  70000.0

In [4]:
print('Missing values per column:\n', df.isnull().sum())
print('\n')
print('Missing values percentage per column:\n', df.isnull().mean() * 100)

Missing values per column:
 Name      0
Age       0
Salary    0
dtype: int64


Missing values percentage per column:
 Name      0.0
Age       0.0
Salary    0.0
dtype: float64